@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


a{
    color: black;
    text-decoration: none;
    font-size: 13px;
    border-radius: 30px;
}

.barra {
	background-color: blue;
	width: 0%;
	height: 2px;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
}

a:hover .barra {
	background-color: blue;
	width: 100%;
	height: 2px;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}


.logo{
    margin-right: 6%;  
    width: 13vw;
    height: 14vh;
}

nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 14vh;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: -33px;
}

.nav-list li {
    letter-spacing: 1px;
    margin-left: 32px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.3s;
}


 @media (max-width: 999px){

    body{
        overflow-x: hidden;
    }

    .logo{
        margin-right: 70%;
        width: 16vw;
        height: 15vh;
    }

    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 33vw;
        height: 92vh;
        background-color: #b23030;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;

    }
}

.nav-list.active {
    transform: translateX(0);

}

@keyframes navLinkFade {

    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}


/* CSS ÁREA DE CADASTRO */

body {
   background-color: white;
}

main {
    margin-top: 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 241, 241);
    background: linear-gradient(90deg, rgba(255, 241, 241, 1) 0%, rgba(178, 48, 48, 0.5802696078431373) 100%);
}

main .container {
    display: flex;
    width: 80%;
    background-color: #FFF1F1;
    border-radius: 10px;
    height: 99%;
    margin-top: 7px;
}

#container-cadastro-animacao {
    position: fixed;
    top: -500px;
    left: 50%; /* posiciona a tela de login acima do topo da página */
    transform: translate(-50%, 0%); 
    width: 80%;
    height: 81%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    animation: slide-down 1s ease forwards;
  }
  
  @keyframes slide-down {
    0% {
      top: -500px; /* posição inicial */
      opacity: 0;
    }
    100% {
      top: 15%; /* posição final */
      opacity: 1;
    }
  }

.form-image {
    width: 40%;
    background: #FFF1F1;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #FFF1F1;
    border-radius: 10px;

}

.img_cad{

    width: 116%;
    height: 76%;
    margin-top: 38px;
    margin-left: -30px;
}

.form {
    border-radius: 10px;
    background-color: #FFF1F1;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: column;
}



.form-header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.title h1 {
    display: flex;
    font-size: 22px;
    text-align: center;
    color: #b23030;
    border-bottom: 1px solid black;
}


.login-button {
    display: flex;
    align-items: center;
}

.group-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.input {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

label{
    font-weight: bold;
    font-size: 14px;
}

.group-inputs input {
    margin: 10px 0;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px #b23030;
}

input::placeholder{
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.politicas-input {
    display: flex;
    text-align: center;
    justify-content: center;
}

.politicas-input .checkbox {
    margin-right: 15px;
}

.politicas-input .label-politica a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    padding: 0;
    border-radius: 30px;
}

.register-button{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.register-button{
    width: 172px;
    height: 22px;
    color: rgb(242, 210, 210);
	background-color: #b23030;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-left: 33%;
    text-align: center;
    padding: 11px 20px;
}

.register-button:hover{
    background-color:white;
    color:#b23030;
    transition: .7s ease;
}