@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Fale Conosco */

.container {
    display: flex;
    justify-content: center;


}

.container_fale_conosco {
    display: flex;
    justify-content: center;

}

.text-faleConosco {
    color: #b23030;
}

.text1 {
    display: flex;
    justify-content: center;

}

.caixa_formulario {
    display: flex;
    height: 420px;
    width: 800px;

}

.inserir_dados {

    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.inserir_dados label {
    font-weight: bold;
    display: flex;
    margin-left: 19px;



}

.inserir_dados input {
    margin-left: 20px;
    margin-block-end: 10px;
    width: 230px;
}

.inserir_dados .text_nome {
    margin-top: 25px;
}

.text_mensagem {
    margin-left: 20px;
    margin-bottom: 5px;

}

.ipt_mensagem {
    margin-left: 20px;
    margin-block-end: 10px;
    height: 80px;
    padding-left: 5px;
    justify-content: flex-start;
    word-wrap: break-word;

}

.img_atendimento {
    margin-top: 100px;
}


.img_atendimento img {
    width: 200px;

}

.button_enviar {
    margin-top: 10px;
    background: #b23030;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    width: 120px;
    align-self: center;
}

.footer {
    color: white;
    background-color: #b23030;
    ;
    display: flex;
    justify-content: center;
    height: 100px;
}

.footer .container {
    display: flex;
    justify-content: center;
}

