@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-size: 12.5px;
}


a{

    color: #fff;
    text-decoration: none;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 30px;
}

a:hover{
    background-color: #fff;
    color: #b23030;
    transition: .7s;
}

.logo{
    margin-right: 20%;  
    width: 16vw;
    height: 16vh;
    width: 15vw;
    height: 14vh;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(242,210,210);
    background: linear-gradient(90deg, rgba(242,210,210,1) 0%, 
    rgba(234,189,189,1) 13%, rgba(209,127,127,1) 46%, rgba(178,48,48,1) 72%,
    rgba(178,48,48,1) 100%); 
    height: 13vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.3s;
}


@media (max-width: 999px){

    body{
        overflow-x: hidden;
    }

    .logo{
        margin-right: 70%;
        width: 16vw;
        height: 15vh;
    }

    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 33vw;
        height: 92vh;
        background-color: #b23030;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;

    }
}

.nav-list.active {
    transform: translateX(0);

}

@keyframes navLinkFade {

    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}
/* AREA DE LOGIN */

main{
    background: rgb(255, 241, 241);
    background: linear-gradient(90deg, rgba(255, 241, 241, 1) 0%, rgba(178, 48, 48, 0.5802696078431373) 100%);
    height: 87vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 20px;
}
main .container {
    padding: 10px;
    height: 95%;
    width: 30%;
    display: flex;
    align-items: center;
    background-color: #FFF1F1;
    border: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}



.logo-login img{
    width: 280px;
    height: 240px;
    display: flex;
    justify-content: center;
    padding-right: 10px;
} 


.inputs-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs-login input{
    width: 350px;
    margin: 10px 0;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px #b23030;
}

.icon1{
    /*     padding-right: 9px;
    padding-top: 22px; 
    paddin-bottom: 192px*/
    padding: 20px 9px 192px;
    position: absolute;
    right: 510px;
}

.icon2 {
/*     padding-bottom: 15px;
    padding-right: 10px;
    padding-top: 0px;
     */
    padding: 0px 10px 15px;
    position: absolute;
    right: 510px;
}

.button-login{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 20px;
    outline: none;
    color: rgb(242, 210, 210);;
    background-color: #b23030;
    border-radius: 10px;
    transition: 0.8s ease;
    margin: 10%;
}

label{
    font-weight: bold;
    font-size: 14px;
}

input::placeholder{
    text-align: center;
}