@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


a{
    color: black;
    text-decoration: none;
    font-size: 13px;
    border-radius: 30px;
}

.barra {
	background-color: #0045C1;
	width: 0%;
	height: 2px;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
}

a:hover .barra {
	background-color: #0045C1;
	width: 100%;
	height: 2px;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}


.logo{
    margin-right: 6%;  
    width: 13vw;
    height: 14vh;
}

nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 14vh;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: -33px;
}

.nav-list li {
    letter-spacing: 1px;
    margin-left: 32px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.3s;
}


 @media (max-width: 999px){

    body{
        overflow-x: hidden;
    }

    .logo{
        margin-right: 70%;
        width: 16vw;
        height: 15vh;
    }

    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 33vw;
        height: 92vh;
        background-color: #0045C1;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;

    }
}

.nav-list.active {
    transform: translateX(0);

}

@keyframes navLinkFade {

    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}
/* AREA DE LOGIN */

main{
    background-color: #0045C1;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-login-animacao{
    position: fixed;
    top: -500px;
    left: 50%; /* posiciona a tela de login acima do topo da página */
    transform: translate(-50%, 0%);
    width: 50%;
    height: 81%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    animation: slide-down 1s ease forwards;
    margin-top: -4px;
}

  
@keyframes slide-down {
    0% {
      top: -500px; /* posição inicial */
    }
    100% {
      top: 15%; /* posição final */
    }
  }


.title-login {
    display: flex;
    font-size: 26px;
    text-align: center;
    color: #0045C1;
    border-bottom: 1px solid black;
    margin-right: 5px;
}
main .container {
    padding: 10px;
    align-items: center;
    background-color: white;
    border: black;
    flex-direction: column;
}



.logo-login img{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    padding-right: 10px;
} 


.inputs-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs-login input{
    width: 355px;
    margin: 10px 0;
    text-align: center;
    outline: 0;
    padding: 10px 5px;
    border: none;
    color: black;
    background-color: #ffffff;
    border-bottom: 1px solid black;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -200%;
    opacity: 1;
 }

 [placeholder]:hover::-webkit-input-placeholder{
    font-weight: bold;
    color: #0045C1;
 }

input::placeholder{
    text-align: center;
}

/* ICON E-MAIL */

.icon1{
    /*     padding-right: 9px;
    padding-top: 22px; 
    paddin-bottom: 192px*/
    padding: 60px 9px 192px;
    position: absolute;
    right: 510px;
}

/* ICON SENHA */

.icon2 {
/*     padding-bottom: 15px;
    padding-right: 10px;
    padding-top: 0px;
     */
    padding: 50px 10px 15px;
    position: absolute;
    right: 510px;
}
/* 
.button-login{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 20px;
    outline: none;
    color: rgb(242, 210, 210);;
    background-color: #0045C1;
    border-radius: 10px;
    transition: 0.8s ease;
    margin: 10%;
} */

label{
    font-weight: bold;
    font-size: 14px;
}

input::placeholder{
    text-align: center;
}

.button-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 48px;
    color: white;
    text-align: center;
    background-color: #0045C1;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.button-login:hover{
    background-color:white;
    color: #0045C1;
    border:1px solid black;
    transition: .7s ease;
}


.div-button-login{
    display: flex;
    justify-content: center;
}

.card_erro{
    display: flex;
    justify-content: center;
}

.alerta_erro{
    display: flex;
    justify-content: center;
}