@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap%27');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    font-size: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 30px;
}

ul a:hover {
    background-color: #fff;
    color: #b23030;
    transition: .7s;
}

.logo {
    margin-right: 20%;
    width: 12vw;
    height: 12vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(242, 210, 210);
    background: linear-gradient(90deg, rgba(242, 210, 210, 1) 0%,
            rgba(234, 189, 189, 1) 13%, rgba(209, 127, 127, 1) 46%, rgba(178, 48, 48, 1) 72%,
            rgba(178, 48, 48, 1) 100%);
    height: 10vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

body {
    background: rgb(255, 241, 241);
    background: linear-gradient(90deg, rgba(255, 241, 241, 1) 0%, rgba(231, 155, 155, 0.58) 100%);
}

.produto-pt1{
    padding-left: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 91vh;
}

.produto-titulo{
    letter-spacing: 4px;
    font-size: 250%;
}
.produto-conteudo{
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.produto-pt2 {
    margin-bottom: 50px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.produto-conteudobottom{
    display: block;
    padding-bottom: 0%;
    background-color: #fff;
    width: 20%;
    height: 120%;
    border: 2px solid rgb(247, 138, 138);
    border-radius: 12%;
    transition: 0.435s ease-in-out;
}

.produto-conteudobottom:hover{
    width: 25%;
    height: 20%;
    box-shadow: 4px 3px rgb(160, 158, 158);
}

.produto-conteudobottom-texto{
    justify-content: center;
    font-size: 84%;

}

.produto-conteudobottom-color{
    margin: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.produto-imagembottom{
    height: 130px;
    width: 150px;
}

.produto-imagembottom2{
    height: 130px;
    width: 130px;
}

.produto-imagembottom3{
    height: 130px;
    width: 165px;
}

.produto-imagembottom4{
    height: 130px;
    width: 150px;
}

.produto-imagem{
    height: 380px;
    width: 600px;
    transition: 0.435s ease-in-out;
}

