@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

 /* inicio */

.inicio { 
    display: flex;
	align-items: center;
	height: 100vh;
    background-color: #FFF1F1;
	color:#545454;
}

.topo-text {
	margin-left: 13%;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
    width: 104%;
    margin-top: 3%
}


.content-text{
    margin-top: 17%;
    width: 40%;
    height: 44%;

}

.slogan-topo {
	font-family: "poppins", sans-serif;
	font-size: 29px;
	font-weight: bold;
	margin-left: 13%;
    width: 145%;
}

.btn-saiba-mais{
	font-family: "Poppins", sans-serif;
	width: 20%;
    height: 8%;
	text-align: center;
	display: block;
	margin-top: 30px;
	outline: none;
    color: rgb(242, 210, 210);;
	background-color: #b23030;
	padding: 10px 20px;
	border-radius: 10px;
	transition: 0.8s ease;
	margin-left: 13%;
}

.img-quemsomos{
    width: 50%;

}

img.img-home{
    width: 45%;
    height: 76%;
    margin-bottom: 0%;
    margin-left: 15%;
}


.pagina-inteira{
    width: 100%;
    height: 500vh;
    background: rgb(255,241,241);
    background: linear-gradient(180deg, 
    rgba(255,241,241,1) 0%, rgba(250,229,229,1) 30%, 
    rgba(237,197,197,1) 48%, rgba(225,166,166,1) 60%, 
    rgba(205,115,115,1) 75%, rgba(191,79,79,1) 90%, 
    rgba(178,48,48,1) 98%);
}

.quem-somos{
    width: 100%;
    height: 100%;
}

.container-text{
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: space-between;
    font-family: 'Poppins';
}

.text-quem-somos{
    width: 50%;
    font-size: 250%;
    color: #404040;
}

.text-grande{
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 112%;
    line-height: 35px;
    color: #000000;
    letter-spacing: 2px;
}

.img-quem-somos{
    display: flex;
    width: 133%;
    height: 91%;
    justify-content: center;
    margin-bottom: 10%
}

.text{
    height: 80%;
    width: 45%;
    margin-top: 200px;
    margin-left: 6%
}

.text-quem-somos{
    width: 63%;
    height: 15%;
    font-size: 45px;
    color: black;

}