*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 30px;
}

a:hover{
    background-color: #fff;
    color: #b23030;
    transition: .7s;
}

.logo{
    margin-right: 20%;  
    width: 15vw;
    height: 14vh;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(242,210,210);
    background: linear-gradient(90deg, rgba(242,210,210,1) 0%, 
    rgba(234,189,189,1) 13%, rgba(209,127,127,1) 46%, rgba(178,48,48,1) 72%,
    rgba(178,48,48,1) 100%); 
    height: 13vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.container-quem {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #a78c8c;
    height: 350px;
    align-items: center;
    padding: 30px;
} 

.item-1 {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: 40px;
}

.item-1 p {
    font-size: 23px;
}

.img-quem {
    display: flex;
    width: 700px;
    height: 200px;
    justify-content: flex-end;
    padding-right: 200px;
    
}

.espaço {
    display: flex;
    justify-content: right;
    font-size: 100px;
    padding-left: 100px;
}