@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.logousuario-header{
    width: 100%;
    display: flex;
}

.logo-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.435s;
    margin-left: 90px;
    margin-top: 64px;
}

.logo-img:hover{
    transform: scale(1.5);
}


/* CONFIGURANDO SIDEBAR */
.sidebar{
    width: 250px;
    height: 100vh;
    background-color: #35A8DB;
    position: fixed;
    left: 0rem;
    transition: all .8s;
    justify-content: center;
}

.sidebar-img{
    width: 12%;
}

.sidebar button{
    height: 40px;
    background-color: transparent;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    text-align: left;
}

.sidebar button > span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 40px;
    padding: 0 16px 0 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.435s
}

.sidebar button:hover > span {
    background-color: rgb(12, 101, 235);
}

.sidebar button icone-imghome {
    position: relative;
    transition: 0.2s;
}

.sidebar button span {
    font-size: 16px
}

.sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.show-menu .sidebar{
    left: 0;
}

.menu{
    padding-top: 200px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
}

.menu-link{
    font-family: 'Poppins';
    font-size: 22px;
    color: rgb(245, 245, 245);
    transition: color .7s;
}

.menu-link:hover{
    color: rgb(0, 255, 255);
    transition: color .7s;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    border-radius: 30px;
}

.barra {
    background-color: #0045C1;
    width: 0%;
    height: 2px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}

a:hover .barra {
    background-color: #0045C1;
    width: 100%;
    height: 2px;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}


.logo {
    margin-right: 6%;
    width: 13vw;
    height: 14vh;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 14vh;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-right: -33px;
}

.nav-list li {
    letter-spacing: 1px;
    margin-left: 32px;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.3s;
}


@media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }

    .logo {
        margin-right: 70%;
        width: 16vw;
        height: 15vh;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 33vw;
        height: 92vh;
        background-color: #0045C1;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;

    }
}

.nav-list.active {
    transform: translateX(0);

}

@keyframes navLinkFade {

    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/* CSS ÁREA DE CADASTRO */


body {
    background-color: white;
}

main {
    margin-top: 10px;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*  background: rgb(255, 241, 241);
     background: linear-gradient(90deg, rgba(255, 241, 241, 1) 0%, rgba(178, 48, 48, 0.5802696078431373) 100%); */
}

main .container {
    display: flex;
    width: 80%;
    border-radius: 10px;
    height: 99%;
    background: white;
    margin-top: 7px;
}

#container-cadastro-animacao {
    position: fixed;
    border: 2px black solid;
    top: -500px;
    left: 50%;
    /* posiciona a tela de login acima do topo da página */
    transform: translate(-50%, 0%);
    width: 40%;
    height: 81%;
    display: flex;
    justify-content: center;
    animation: cadastro-animacao 1s ease forwards;
}

@keyframes cadastro-animacao {
    0% {
        top: -500px;
        /* posição inicial */
    }

    100% {
        top: 15%;
        /* posição final */
    }
}

.form-image {
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;

}

.img_cad {

    width: 116%;
    height: 76%;
    margin-left: -30px;
}

.form {
    /*      border-radius: 10px;
     width: 60%; */
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 5px;
    /* flex-direction: column;*/
}



.form-header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.title h1 {
    display: flex;
    font-size: 26px;
    text-align: center;
    color: #0045C1;
    padding-top: 10px;
    border-bottom: 1px solid black;
}


.login-button {
    display: flex;
    align-items: center;
}

.group-inputs {
    display: flex;
    margin: 5px;
    justify-content: center;

}

.input {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
}

label {
    font-weight: bold;
    font-size: 14px;
}

.group-inputs input {
    outline: 0;
    border: none;
    color: black;
    background-color: #ffffff;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;

}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -200%;
    opacity: 1;
}

[placeholder]:hover::-webkit-input-placeholder {
    font-weight: bold;
    color: #0045C1;
}

input::placeholder {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.register-button {
    display: flex;
    justify-content: center;
}

.register-button {
    width: 40%;
    height: 100%;
    color: rgb(242, 210, 210);
    background-color: #0045C1;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    margin-left: 23%;
    margin-top: 20px;
    /* text-align: center; */
    padding: 11px 20px;
}

.register-button:hover {
    background-color: white;
    color: #0045C1;
    border: 1px solid black;
    transition: .7s ease;
}

.alerta_erro{
    color: black;
    background-color: white;
    font-size: 15px;
}

.nome_sobrenome{
    width: 100%;
    justify-content: space-evenly;
    padding-top: 65px;

}


.cpf_email{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 30px;
}



