
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins';
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

/* DASHBOARDS */


.dashboards{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 49vh;
}

.dashboards2{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 15%;
}

.text-grafico{

    background-color:#35a9db98;
    color: black;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.dashboardGraficos {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.donut {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:62%;
    padding-left: 20%;
}

/* .line{
    display: flex;
    height: 50%; 
    width: 100%;
} */

.cardAlerts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin-top: 10px;
    margin-left: 2%;
    gap: 10px;
}

.cardAlerts span {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.alert-porcentagem{
    font-weight: bold;
    font-size: 17px ;
}

.cardNormal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(114, 250, 114);
    border:1px green solid;
    width: 70%;
    text-align: center;
    height: 30%;
    border-radius: 7px;
    transition: 0.250s ease-in-out;
}

.cardAlerta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px rgb(255, 94, 0) solid;
    background-color: rgb(255, 172, 117);
    width: 70%;
    text-align: center;
    height: 30%;;
    border-radius: 7px;
    transition: 0.250s ease-in-out;
}

.cardCritico {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px  red solid;
    background-color: rgb(218, 77, 77);
    width: 70%;
    text-align: center;
    height: 30%;
    border-radius: 7px;
    transition: 0.250s ease-in-out;
}

.cardNormal:hover {
    transform: scale(1.025);
    box-shadow: 2px 2px rgb(160, 158, 158);
}

.cardAlerta:hover {
    transform: scale(1.025);
    box-shadow: 2px 2px rgb(160, 158, 158);
}

.cardCritico:hover {
    transform: scale(1.025);
    box-shadow: 2px 2px rgb(160, 158, 158);
}


.text-alerta{
    width: 90%;
    height: 48%;
    font-size: 13px;
}

/* CONFIGURANDO HAMBURGER */
/* .hamburger{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
}

.show-menu .hamburger{
    left: 11.435rem;
}

.lineh{
    width: 100%;
    height: .1rem;
    padding: 1px;
    border-radius: 10px;
    background-color: rgb(0, 255, 179);
    box-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.788);
    transition: transform .7s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.4rem, .9rem);
    background-color: rgb(224, 49, 102);
    box-shadow: none;
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.9rem);
    background-color: rgb(224, 49, 102);
    box-shadow: none;
} */

/* CONFIGURANDO LOGO DO USUARIO */

.logousuario-header{
    width: 100%;
    display: flex;
}

.logo-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.435s ease-in-out;
    margin-left: 90px;
    margin-top: 64px;

}

.logo-img:hover{
    transform: scale(1.5);
}


/* CONFIGURANDO SIDEBAR */
.sidebar{
    width: 250px;
    height: 100vh;
    background-color: #142442;
    position: fixed;
    left: 0rem;
    transition: all .8s;
    justify-content: center;
}

.sidebar-img{
    width: 12%;
}

.sidebar button{
    height: 40px;
    background-color: transparent;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    text-align: left;
}

.sidebar button > span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 40px;
    padding: 0 16px 0 12px;
    line-height: 1;
    transition: all 0.435s
}

.sidebar button:hover > span {
    background-color: white;
}

.sidebar button icone-imghome {
    position: relative;
    transition: 0.2s;
}

.sidebar button span {
    font-size: 16px
}

.sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 6;
    margin-top: 39%
}

.show-menu .sidebar{
    left: 0;
}

.menu{
    padding-top: 200px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
}

.menu-link{
    font-family: 'Poppins';
    font-size: 20px;
    color: rgb(245, 245, 245);
    transition: color .7s;
}

.menu-link:hover{
    color: #142442;
    transition: color .7s;
}

.img-logo{
    width: 76%;
    height: 21vh;
    margin-left: 22px;
    margin-top: 23px

}

select{
    margin-left: 30px;
}


/* AJUSTANDO SIDEBAR APENAS COM OS ÍCONES */

/* @media (width < 920px){
    .sidebar{
        width: 72px;
    }

    .main{
        transition: margin 0.4s;
        margin-left: 78px;
    }

    .logousuario-header{
        display: flex;
        margin-top: 32px;
        margin-left: -4.57rem;
    }

    .show-menu .hamburger{
        left: .5rem;
    }

    .lineh{
        width: 100%;
        height: .1rem;
        padding: 1px;
        border-radius: 10px;
        background-color: rgb(0, 255, 179);
        box-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.788);
        transition: transform 1s;
    }
    
    .show-menu #line1{
        transform: rotate(45deg) translate(.4rem, .9rem);
        background-color: rgb(224, 49, 102);
        box-shadow: none;
    }
    
    .show-menu #line2{
        opacity: 0;
        visibility: hidden;
    }
    
    .show-menu #line3{
        transform: rotate(-45deg) translate(.3rem, -.9rem);
        background-color: rgb(224, 49, 102);
        box-shadow: none;
    }

    .menu{
        padding-top: 200px;
        position: relative;
        left: 64%;
        display: flex;
        flex-direction: column;
    }

    .sidebar button{
        height: 40px;
        background-color: none;
        border: 0;
        cursor: pointer;
        text-align: left;
    }

    .sidebar button > span {
        width: 200px;
    }

    .sidebar button > span > span {
        opacity: 0;
        visibility: hidden;
        font-size: 90px
    }
} */

.btn-sair{
    color: white;
    margin-left: 91px;

}

.botão-dashboard2{
    margin-top: 10px;
    background-color: #0045C1;
    border: 1px white solid;
    width: 340px;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-left: 40px;
}

.botão-dashboard2:hover{
        background-color:white;
        color: #0045C1;
        border:1px solid black;
        transition: .7s ease;
}

.grafico-alerta{
    width: 100%;
    height: 30vh;
}

.total-alertas{
    margin-left: 370px;
    font-size: 18px;
}

.line{
    width: 69%;
    height: 45vh;
    margin-left: 20%;
    padding-left: 67px;
    margin-top: 38px;
    border: 1px black solid;
}