
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins';
}

body{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: whitesmoke;
}


/* SIDEBAR */

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-logo{
   margin-left: 10px;
    margin-top: 10px;
    width: 73%;   
}


.search-box{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0a1b2d;
    height: 40px;
    padding: 10px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 170px;
    transition: .5s;
}

.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 2%;
    background: #0a1b2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .search-box:hover > .search-txt{
    width: 170px;
} */



.navgation{
    position: absolute;
    height: 100vh;
    width: 16%;
    background: #142442;
    box-shadow: 10px 0 0 #35a9db;
}


.navgation ul{
    position: absolute;
    top: 32%;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navgation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navgation ul li a {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;
    transition: .7s ease;
}


.navgation ul li a:hover{
    transition: .7s ease;
    color:white;
    background-color: #35a9db;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
}

.navgation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navgation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navgation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.div-dash{
    width: 25%;
}

.img-dash{
    width: 60%;
    margin-left: 3px;
    margin-top: 16px;
}


.div-caminhaozinho{
    width: 25%;
}

.img-caminhaozinho{
    width: 75%;
    margin-left: 3px;
    margin-top: 11px;
}


.div-caminhaozinho2{
    width: 25%;
}

.img-caminhaozinho2{
    width: 75%;
    margin-left: 3px;
    margin-top: 11px;
}

.div-conect{
    width: 25%;
}

.img-conect{
    width: 60%;
    margin-left: 3px;
    margin-top: 11px;
}


.div-config{
    width: 25%;
}

.img-config{
    width: 60%;
    margin-left: 3px;
    margin-top: 11px;
}

.div-sair{
    width: 25%;
}

.img-sair{
    width: 60%;
    margin-left: 3px;
    margin-top: 11px;
}


/* DASHBOARDS */

.dashboard {
    display: flex;
    height: 100vh;
}

.dashboard-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 18%;
    margin-bottom: 2%;
    margin-right: 2%;
    width: 100%;
    /* border: 1px red solid; */
}

.dashboard-area h2 {
    font-size: 2.4rem;
}

.cards-alertas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 100%;
    /* border: 1px red solid; */
}

.card-frota {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    width: 15%;
    height: 100%;
    border: 1px #142442 solid;
    border-radius: 5%;
    background-color: #142442;
    /* border: 1px red solid; */
    font-size: 0.9rem;
}

.card-frota span{
    color: white;
}



.card-verde {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    height: 100%;
    width: 12%;
    border: 1px rgb(18, 88, 53) solid;
    border-radius: 5%;
    background-color: rgb(18, 88, 53);
    font-size: 0.9rem;
}

.card-verde span{
    color: white;
}

.card-amarelo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    height: 100%;
    width: 12%;
    border: 1px rgb(159, 174, 39) solid;
    border-radius: 5%;
    background-color: rgb(159, 174, 39);
    font-size: 0.9rem;
}

.card-amarelo span{
    color: white;
}

.card-vermelho {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    height: 100%;
    width: 12%;
    border: 1px rgb(163, 73, 48) solid;
    border-radius: 5%;
    background-color: rgb(163, 73, 48);
    font-size: 0.9rem;
}

.tabela {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    border: 1px #142442 solid;
}

.tabela h3 {
    display: flex;
    justify-content: center;
    color: #142442;
}

.card-vermelho span{
    color: white;
}

.feed-container{
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    /* border: 1px red solid; */
  }

  .feed-container th, .feed-container td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }

.feed-container-qtdsensor {
    width: 20%;
}

/* PRIMEIRA LINHA DA TABELA */
  .feed-container th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .feed-container tr{
    background-color: #fffbfb;
  }

  /* CSS DE ALERTAS DINAMICOS */
  .cor-alerta {
    width: 13%;
    height: 30%;
    border-radius: 50%;
    display: inline-block;
  }


  .perigo {
    background-color: #c05c5c;
  }
  
  .alerta {
    background-color: #ff7043;
  }
  
  .ideal {
    background-color: #42f551;
  }
  