
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins';
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


/* SIDEBAR */

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-logo{
   margin-left: 10px;
    margin-top: 10px;
    width: 73%;   
}


.search-box{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0a1b2d;
    height: 40px;
    padding: 10px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 170px;
    transition: .5s;
}

.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 2%;
    background: #0a1b2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .search-box:hover > .search-txt{
    width: 170px;
} */



.navgation{
    position: absolute;
    height: 100vh;
    width: 18%;
    background: #142442;
    box-shadow: 10px 0 0 #35a9db;
}


.navgation ul{
    position: absolute;
    top: 32%;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navgation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navgation ul li a {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;
    transition: .7s ease;
}


.navgation ul li a:hover{
    transition: .7s ease;
    color:white;
    background-color: #35a9db;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
}

.navgation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navgation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navgation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.div-dash{
    width: 25%;
}

.img-dash{
    width: 60%;
    margin-left: 3px;
    margin-top: 16px;
}


.div-caminhaozinho{
    width: 25%;
}

.img-caminhaozinho{
    width: 75%;
    margin-left: 3px;
    margin-top: 11px;
}


.div-caminhaozinho2{
    width: 25%;
}

.img-caminhaozinho2{
    width: 75%;
    margin-left: 3px;
    margin-top: 11px;
}

.div-conect{
    width: 25%;
}

.img-conect{
    width: 60%;
    margin-left: 3px;
    margin-top: 11px;
}


.div-config{
    width: 25%;
}

.img-config{
    width: 60%;
    margin-left: 3px;
    margin-top: 11px;
}

.div-sair{
    width: 25%;
}

.img-sair{
    width: 60%;
    margin-left: 3px;
    margin-top: 11px;
}


/* DASHBOARDS */
.dashboards{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 49vh;
}

.dashboards2{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 15%;
}

.text-grafico{

    background-color:#35a9db98;
    color: black;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.dashboardGraficos {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.donut {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:62%;
    padding-left: 20%;
}

/* .line{
    display: flex;
    height: 50%; 
    width: 100%;
} */

.cardAlerts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin-top: 10px;
    margin-left: 2%;
    gap: 10px;
}

.cardAlerts span {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.alert-porcentagem{
    font-weight: bold;
    font-size: 17px ;
}

.cardNormal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(114, 250, 114);
    border:1px green solid;
    width: 70%;
    text-align: center;
    height: 30%;
    border-radius: 7px;
    transition: 0.250s ease-in-out;
}

.cardAlerta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px rgb(255, 94, 0) solid;
    background-color: rgb(255, 172, 117);
    width: 70%;
    text-align: center;
    height: 30%;;
    border-radius: 7px;
    transition: 0.250s ease-in-out;
}

.cardCritico {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px  red solid;
    background-color: rgb(218, 77, 77);
    width: 70%;
    text-align: center;
    height: 30%;
    border-radius: 7px;
    transition: 0.250s ease-in-out;
}

.cardNormal:hover {
    transform: scale(1.025);
    box-shadow: 2px 2px rgb(160, 158, 158);
}

.cardAlerta:hover {
    transform: scale(1.025);
    box-shadow: 2px 2px rgb(160, 158, 158);
}

.cardCritico:hover {
    transform: scale(1.025);
    box-shadow: 2px 2px rgb(160, 158, 158);
}


.text-alerta{
    width: 90%;
    height: 48%;
    font-size: 13px;
}


.botão-dashboard2{
    margin-top: 10px;
    background-color: #0045C1;
    border: 1px white solid;
    width: 340px;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-left: 40px;
}

.botão-dashboard2:hover{
        background-color:white;
        color: #0045C1;
        border:1px solid black;
        transition: .7s ease;
}

.grafico-alerta{
    width: 100%;
    height: 30vh;
}

.total-alertas{
    margin-left: 370px;
    font-size: 18px;
}

.line{
    width: 69%;
    height: 45vh;
    margin-left: 20%;
    padding-left: 67px;
    margin-top: 31px;
    border: 1px black solid;
}